{{with .Site.Params.card}}
  <meta property="twitter:card" content="{{.twitter_card}}" name="card" />
  <meta property="twitter:site" content="{{.twitter_site}}" name="site" />
  <meta property="twitter:creator" content="{{.twitter_creator}}" name="creator" />
  <meta property="og:site_name" content="{{.og_site_name}}" name="site_name" />
  <meta property="og:url" content="{{.og_url}}" name="url" />
  <meta property="og:title" content="{{.og_title}}" name="title" />
  <meta property="og:description" content="{{.og_description}}" name="description" />
  <meta property="og:image" content="{{.og_image}}" name="image" />
  <meta property="twitter:image" content="{{.twitter_image}}" name="twitter_image" />
  <meta property="og:locale" content="{{.og_locale}}" name="locale" />
{{end}}